{% extends 'base.html' %}

{% block content %}

<form method='POST'>

    {% csrf_token %}

    {% for field in form.visible_fields %}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}</p>

    {% endfor %}

    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

  <!--  {{ form.errors }}

    {{ form.as_p }} -->
    <input type="submit" value="Change">

</form>

{% endblock content %}
