{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block content %}
<div class="grid_container">
    <div class="login-image">

    </div>
    <div class="register_form">


        <form method="post">
            <h2>Register</h2>
            {% csrf_token %}
            {% for field in form.visible_fields %}
                <p>{{ field.label_tag }}{{ field }}</p>
            {% endfor %}

            <button type="submit">Sign up</button>
        </form>

    </div>

</div>
{% endblock content %}
