@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #000;
    text-decoration: none;
}
a:focus {
    outline: none;
}


/***** HEADER  **************************/
header {
    height: 3rem;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 5px rgba(200,200,200);
    display: flex;
    white-space: nowrap;
    /*position: fixed;*/
    position: sticky;
    top:0;
    left:0;
}
.header-section {
  /*  display: inline-block;
    width: 33%;*/
    line-height: 3rem;
}
#header-searchbox {
    /*margin-right: auto;*/
}
#header-searchbox input {
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 2px;
    color: #a58006;
}
#logo-container {
    text-align: left;
}
#logo-container a {
    font-size: 1.5em;
}
#nav-buttons {
    margin: auto;
    text-align: center;
}
#user-buttons {
    text-align:right;
}
.nav-button {
    margin: 0 1rem;
    font-weight: 700;
}
.nav-button:hover {
    color: #cca620;
}

/*****    FOOTER    *******************************/
footer {
    background-color: rgba(250,250,250);
    height: 200px;
    display: flex;
    justify-content: center;
}
footer section {
    padding: 1em 0;
    width: 200px; /*need to specify width in order section to not stretch to max*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer section * {
    align-text: center;
}
footer section a {
    color: #4A4A4A;
    font-size: 0.8em;
    align-text: center;
}
footer section a:hover {
    color:#cca620;
}

/***** INDEX  **************************/
.main-banner {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito_big.jpeg');
    height: 800px;

    display: grid;
    grid-template-rows: 15% 25% 30% 1fr;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}
.main-banner a:nth-of-type(1) {
    grid-area: 3 / 2 / 4 / 3;
}
.main-banner a:nth-of-type(2) {
    grid-area: 3 / 3 / 4 / 4;
}
.main-banner a:nth-of-type(3) {
    grid-area: 3 / 4 / 4 / 5;
}
.main-banner a:nth-of-type(4) {
    grid-area: 3 / 5 / 4 / 6;
}
.main-banner a {
    height: 45px;
    width: 200px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    background-color: #cca620;
    color: white;
    border-radius: 1em;
}
.claim {
    /*grid-area:2 / 3 / 3 / 7;*/
    grid-area: 2 / 2 / 3 / 6;
    /*text-align: center; /*align horizontally*/
    /*line-height: 240px; /*align horizontally*/
    font-size: 80px;
    /*position:absolute;
    top: 30%;
    left: 10%;*/
}

/*============LOGIN CONTENT===========*/

.main-bannerr {
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito_big.jpeg');
    height: 800px;

    display: grid;
    grid-template-rows: 15% 25% 30% 1fr;
    grid-template-columns: 10% repeat(4, 1fr) 10%;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
}
.main-bannerr a:nth-of-type(1) {
    grid-area: 3 / 2 / 4 / 3;
}
.main-bannerr a:nth-of-type(2) {
    grid-area: 3 / 3 / 4 / 4;
}
.main-bannerr a:nth-of-type(3) {
    grid-area: 3 / 4 / 4 / 5;
}
.main-bannerr a:nth-of-type(4) {
    grid-area: 3 / 5 / 4 / 6;
}
.main-bannerr a {
    height: 45px;
    width: 200px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    background-color: #cca620;
    color: white;
    border-radius: 1em;
}

.grid_container {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center
    align-content: center;
}
.login-image {
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito.jpeg');
    grid-area: 1 / 1 / 2 / 2;
}

/*============LOGIN FORM===========*/

.login_form,
.register_form {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    white-space: nowrap;
}

.login_form h2,
.register_form h2 {
    font-size: 40px;
    height: 50px;
    margin-bottom: 50px;
}

.login_form p,
.register_form p {
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 1rem auto;
    /*display: flex;*/
}

.login_form label,
.register_form label  {
    display: inline-block;

    /*text-align: right;
    padding-right: 50px;*/
    width: 12rem;
}

.login_form input,
.register_form input {
    width: 400px;
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
}

.login_form button,
.register_form button {
    margin-top: 20px;
    width: 200px;
}

.login_form .forgot-pass {
    display: inline-block;
    width: 400px;
    text-align: right;
    color: #a58006;
}

.login_form .forgot-pass:hover {
    font-weight: 700;
    color: black;
}

/*======SHARED ELEMENTS=======*/


button {
    border: none;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    font-size: 20px;
}

button:hover {
    background-color: #cca620;
    color: white;
}
