{% load static %}

<!DOCTYPE html>
<html>
<head>

    {% block title %}

    {% endblock title %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>
    {% include 'header.html' %}

    <!--<div>
        <p><a href="/">INDEX</a><br>
        {% if user.is_authenticated %}
        {{ user }}
        <a href="/accounts/logout/">LOG OUT</a>
        <a href="/accounts/profile/">PROFILE</a>
        <a href="/events/mine/">MY EVENTS</a><br>
        {% else %}
        <a href="/accounts/login/">LOG IN</a><br>
        {% endif %}
        <a href="/accounts/register/">REGISTER</a><br>
        <a href="/events/">EVENTS</a><br>
        <a href="/eventrun/">EVENTRUN</a><br>
        </p>
    </div>-->

    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
</body>
</html>
