{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
<h1>EVENTRUN DETAIL</h1>

    <ul>
    <li>NAME: {{ run.event.name }}
    <li>DESCRIPTION: {{ run.event.description }}
    <li>LOCATION: {{ run.event.location }}
    <li>CATEGORY: {{ run.event.category }}
    <li>DATE: {{ run.date }}
    <li>TIME: {{ run.time }}
    <li>CAPACITY: {{ run.seats_available }}
    <li>PRICE: {{ run.price }}
    </ul>
<a href="/eventrun/update/{{ run.id }}">UPDATE</a>
<a href="/eventrun/delete/{{ run.id }}">DELETE</a>

{% endblock content %}
