{% extends 'base.html' %}

{% block content %}

<h2>{{ event.name }}</h2>

<table>
    <tr>
        <th>{{ event.host.first_name }}</th><th>{{ event.host.last_name }}</th><th>{{ event.location }}</th><th>{{ event.category }}</th>
    </tr>
</table>


<p>{{ event.description }}</p>

<hr>

<table>
    <th>DATE</th><th>SEATS</th><th>PRICE</th>
{% for run in runs %}
 <tr>
      <th><a href="/eventrun/detail/{{ run.id }}">{{ run.date }}  {{ run.time }}</a></th><th>{{ run.seats_available }}</th><th>{{ run.price }}</th>
 </tr>
{% endfor %}
</table>
<br>
<a href="/events/">Back</a>
{% endblock content %}
