{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
    <table style="text-align:center;">
        <tr>
        <th>NAME</th><th>LOCATION</th><th>HOST</th>
        </tr>
    {% for event in events %}
        <tr>
            <td><a href="{% url 'events:detail_event' event.id %}">{{ event.name }}</a></td>
            <td> {{ event.location}}</td>
            <td> {{ event.host}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
