{% extends 'base.html' %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block content %}
    <h1>EVENT RUN</h1>
    {% for event in events %}
    <ul>
    <li>NAME: {{ event.event.name }}
    <li>DESCRIPTION: {{ event.event.description }}
    <li>LOCATION: {{ event.event.location }}
    <li>CATEGORY: {{ event.event.category }}
    <li>DATE: {{ event.date }}
    <li>TIME: {{ event.time }}
    <li>CAPACITY: {{ event.seats_available }}
    <li>PRICE: {{ event.price }}
    </ul>
    <p></p>

    {% endfor %}

{% endblock content %}
