{% extends 'base.html' %}

{% block title %}
<title>Index</title>
{% endblock title %}

{% block content %}

<div class="main-banner">
    <p class="claim">Let's do something</p>
    <a href="#">Fun</a>
    <a href="#">Experience</a>
    <a href="#">Sights</a>
    <a href="#">Relax</a>
</div>

{% endblock content %}
