{% extends 'base.html' %}

{% block title %}
<title>MY_ EVENT</title>
{% endblock title %}

{% block content %}
    <table style="text-align:center;">
        <tr>
        <th>NAME</th><th>LOCATION</th>
        </tr>
        {% for event in events %}
        <tr>
        <td><a href="/events/mine/detail/{{ event.id }}">{{ event.name }}</a></td><td>{{ event.location}}</td>
        </tr>
        {% endfor %}
        <tr><td></td></tr>
        <tr><td><a href="/events/new/">NEW EVENT</a></td></tr>
    </table>
{% endblock content %}
