{% extends "base.html" %}

{% block content %}

<h2>{{ form.instance.event.name }}</h2>

<form method='POST'>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>
{% endblock content %}
